.btn {
	font-weight: 500;
	font-size: 16px;
	color: #20222a;
	padding: 10px 24px;
	background: #f4c038;
	border-radius: 48px;
}
.header__btn {
    font-weight: 500;
	font-size: 16px;
	color: #20222a;
	background: #f4c038;
	border-radius: 48px;
	padding: 22px 40px;
}
