.header {
	background: #20222a;

}
.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 16px 0;

	&__inner {
		display: flex;
		align-items: center;
		gap: 140px;
	}
}
