.footer {
	padding: 14px 0;

	background: #20222a;

	&__content {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
    &__text {
        color: #fff;
        opacity: .5;
    }
}
